.App {
  height: 100%;
  padding: 0;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  width: 50vw;
  height: 50vh;
  float: left;
  display: flex;
  justify-content: center;
  text-align: center;
}

.grid_wrapper {
  display: grid;
  grid-template-areas:
  "A B"
  "C D"
}

.grid:nth-child(1) {
  grid-area: 'A';
  margin-top: 15%;
  margin-left: 25%;
}
.grid:nth-child(2) {
  grid-area: 'B';
  margin-top: 15%;
  margin-left: -25%;
}
.grid:nth-child(3) {
  grid-area: 'C';
  margin-top: -15%;
  margin-left: 25%;
}
.grid:nth-child(4) {
  grid-area: 'D';
  margin-top: -15%;
  margin-left: -25%;
}